.cardItem
   font-size: 18px
   display: flex
   justify-content: space-between
   border: 7px solid rgba(46, 107, 240, 0.5)
   background-color: #fff
   border-radius: 10px
   padding: 0 8px
   &__description
      &__relationships
         margin-top: 10px
   &__icon
      color: black
      &_checked
         color: red

.item
   list-style-type: none

.icon
   display: flex
   justify-content: flex-end

.fa-heart:before
   left: 100%
   text-align: center
   line-height: 35px
   font-size: 20px
